.attorneys-list-wrapper {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .attorneys-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    
    .attorneys-list-image {
      width: 100%;
    }
  }
}

.attorney-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/bradyn-shock-3yno9AWLIu4-unsplash.jpg);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;

  .background-color {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: @color1;
    opacity: .95;
    z-index: 0;
  }

  .attorney-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    gap: 4vw;
    z-index: 1;
  }

  .attorney-copy {
    width: 50%;

    .attorney-name {
      font-weight: 500;
      font-size: 3vw;
      color: #fff;
    }

    .attorney-description {
      p {
        font-size: 1.2vw;
        font-weight: 300;
        color: #fff;
      }
    }
  }

  .attorney-picture {
    width: 25%;
    border-radius: 0.25vw;
  }
}
