html {
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Metropolis';
  margin: 0;
  position: relative;
}

section {
  overflow-x: hidden;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  width: @width6;
}

h1 {
  color: @color0;
}
